/* Google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

* {
    margin: 0;
    padding:0;
}

/* Header */
header {
    background-color: #317773;
    padding: 10px;
    width: 100%;
    text-align: left;
    justify-content: space-evenly;
    position: fixed;
}

#navbar {
    color: black;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: flex-end;
    font-size: 1.5em;
    margin-right: 20px;
    margin-left: 900px;
}

header h1 {
    display: inline-flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    color: black;
    margin: .5rem;
}

/* Main content */

body {
    display: flex;
}

#image {
    background: url(/assets/images/pexels-helena-lopes-711009.jpg) no-repeat;
    width: 100%;
    height:500px;
    position: absolute;
    z-index: -1;
}

#read {
    position: relative;
    top:300px;
    bottom: 50px;
    background-color: rgb(230, 230, 250, 0.8);
    color: black;
    margin-left: 200px;
    text-align: left;
    padding: 50px;
    margin-right: 20px;
}

/* Footer */
footer {
    background-color: #317773;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    font-family: 'Roboto Mono' monospace;

}

#social {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: black;
}

