/* reset all elements in the html */
* { 
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header */
header {
    background-color:yellow;
    
}
/* Main content */
body {
    background: rosybrown
}
/* Footer */
footer {
    background-color: aqua;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

#social {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
